.result-box-wrap {
  border: 1px solid rgba(222, 200, 164, 0.5);
  box-sizing: border-box;
  color: #DEC8A4;
  width: calc(100% - 40px);
  margin-left: 20px;

  .artifact-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 6px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;

    .artifact-name {
      word-break: keep-all;
      text-align: right;
      margin: 5px 0;
    }

    .artifact-number {
      width: 25px;
      height: 25px;
      background-color: rgba(222, 200, 164, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #081420;
    }

  }


  .artifact-image {
    width: 100%;
    height: 45vh;
  }

  .artifact-image-crop {
    position: absolute;
    border: 3px solid #f1e8db;
    z-index: 2;
    top: calc(45vh * var(--crop-start-y) - 12px);
    left: calc(100% * var(--crop-start-x) - 12px);
    width: calc(100% * var(--crop-width) + 20px) ;
    height: calc(45vh * var(--crop-height) + 20px);
  }

  .artifact-image-crop-wrap {
    position: absolute;
    width: 100%;
    height: 45vh;
    top: 0;
    z-index: 3;
  }

  .artifact-image-wrap {
    position: relative;
  }

  .explian-text {
    background-color: #3D4141;
    color: #DEC8A4;
    font-size: 13px;
    font-weight: 200;
    line-height: 25px;
    text-align: center;
  }

}