.result-box-wrap {
  border: 1px solid rgba(222, 200, 164, 0.5);
  color: #DEC8A4;
  width: calc(100% - 40px);
  margin-left: 20px;

  .artifact-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;

    .artifact-name {
      text-overflow: ellipsis;
    }

    .artifact-number {
      width: 25px;
      height: 25px;
      background-color: rgba(222, 200, 164, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
      color: #081420;
    }

  }


  .artifact-image {
    width: 100%;
    height: 45vh;
  }

  .explian-text {
    background-color: #3D4141;
    color: #DEC8A4;
    font-size: 13px;
    font-weight: 200;
    line-height: 22px;
    text-align: center;
  }

}