.theme-text {
  color: #F1E8DB;
  font-size: 20px;
}

.search-button {
  border: solid 1px #848063;
  color: #848063;
  display: inline-block;
  margin: 5px;
  width: 20%;
  text-align: center;
}

.search-button.on {
  border: solid 1px #d4ab67;;
  color: #d4ab67;
}

#float-clear-div {
  clear: both;
}

.search-filter-wrap-div{
  margin-top: 10px;
  margin-left: 25px;
}