// .search-icon-box-real{
//   display: inline;
//   color: #DEC8A4;
//   background-color: transparent;
//   border: solid 1px #DEC8A4;
//   height: 1.9rem;
//   width: 60px;
// }

.search-box {
  padding-left: 10px;
  background-color: #081420;
  border: solid 1px #DEC8A4;
  color: #DEC8A4;
  height: 1.9rem;
  margin-top: 1.5rem;
  margin-left: 20px;
  margin-bottom: 1rem;
  width: calc(100% - 50px);
  max-width: 385px;
}

.search-box:focus {
  border:1px solid #d4ab67;
  outline: none !important;
}

hr {
  border: 0.5px solid #dec8a47c;
  margin: 10px 18px;
  width: calc(100% - 34px);
}

input::placeholder {
  color: #DEC8A4;
  font-family: 'Noto Serif KR', serif;

}

.search-wrap-div {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 0 5%;
  height: 500px;
  margin: 20px 20px;
  overflow:scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}
.search-wrap-div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
