.search-card {
 border: 1px solid #ffffff;
 margin-top: 10%;
}
      
.search-card-img {

}

.search-card-img img {
  height: 104px;
  width: 104px;
}

.search-card-p {
  border-top: 1px solid #32383B;
  background-color: #32383B;
  color: #d4ab67;
  font-size: small;
  text-align: center;
}

.search-card-p p {
  margin: 0px;
  width: 104px;
}


      