.router-wrap {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;

  .router-button {
    width: calc((100% - 20px) / 2);

    .button {
      height: 30px;

      input {
        font-weight: 600;
        font-size: 13px;
      }

    }

  }

  & a.router-link-exact-active {
    background-color: rgba(222, 200, 164, 0.2);
  }
}