.search-icon-box {
  position: relative;
}


.search-icon-box-real{
  display: inline;
  color: #DEC8A4;
  background-color: transparent;
  border: solid 1px #DEC8A4;
  height: 1.9rem;
  width: 60px;
}

.search-box {
  background-color: #081420;
  border: solid 1px #DEC8A4;
  color: #DEC8A4;
  height: 1.9rem;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 20rem;
}

.search-box:focus {
  border:1px solid #d4ab67;
  outline: none !important;
}

hr {
  border-top: 1px solid #DEC8A4;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

input::placeholder {
  color: #DEC8A4;
}

.search-wrap-div {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 0 5%;
  height: 500px;
  margin: 20px 20px;
  overflow:scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}
.search-wrap-div::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
