.theme-text {
  color: #F1E8DB;
  font-size: 23px;
  line-height: 110%;
  margin-bottom: 10px;
  margin-left: 5.5%;
}

.search-button {
  font-size: 14px;
  border: solid 1px #848063;
  color: #848063;

  width: 20%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
  height: 28px;
  // border-radius: 3px;
}

.search-button.on {
  border: solid 1.5px #d4ab67;;
  color: #d4ab67;
}

#float-clear-div {
  margin-top: 15px;
  clear: both;
}

.search-filter-group {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 40px);
  margin-left: 20px;
  justify-content: space-between;
}

.search-filter-wrap-div{
  margin-left: 5px;
}