.todays-artifact {
  .artifact-description {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;

    .text-description {
      color: #f1e8db;
      font-size: 10px;
      line-height: 15px;
      text-align: start;
    }

    .epoque {
      color: #f1e8db;
      font-size: 12px;
      line-height: 25px;
      align-self: flex-end;
    }

    .museum {
      color: #f1e8db;
      font-size: 12px;
      line-height: 25px;
      align-self: flex-start;
    }

    .name {
      color: #DEC8A4;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      word-break: keep-all;
      text-align: start;
    }

  }

  .image-wrap {
    width: 100%;
    position: relative;
  }
  img {
    //position: absolute;
    //top: 0;
    //left: 0;
    //bottom: 0;
    //right: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

}