.closed-date {
  width: 80%;
  word-break: keep-all;
}

.closed-date-wrap {
  display: flex;
}

.semi-title {
  color: #DEC8A4;
  font-size: 14.5px;
  margin-bottom: 3px;
}

.inblock-box {
  display: inline-block;
  width: 20%;
}

.museum-name {
  color: #D4AB67;
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  margin-top: 8%;
}

.museum-modal {
  background-color: #081420;
  color: #E5E5E5;
  font-family: 'Noto Serif KR', serif;
  font-size: 12.5px;
  font-weight: 200;
  height: 100%;
  // padding: 25px;
  width: 100%;
}

.museum-modal-wrap {
  background-color: #081420;
  margin: 0 8% 8% 8%;
}

.kakao-map {
  margin-top: 20px;
  height: 150px; 
  width: 250px;
}