.button {
  input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    //font-weight: 600;
    //font-size: 13px;
    color: #DEC8A4;
    background: none;
    border: 1px solid #DEC8A4;
  }

}