.nav-background {
  background-color: #081420;
  color: #d4ab67;  
  max-width: 425px;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 0px 10px 0 10px;
}

.nav-background a {
  font-weight: bold;
  color: #d4ab67;
  text-decoration:none;
}

.nav-item-start {
  width: 33%;
  display: flex;
  justify-content: flex-start;
}

.nav-item-center {
  width: 33%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.nav-item-center img {
  height: 100%;
  width: 50px;
  align-content: center;
}

.nav-item-end {
  width: 33%;
  display: flex;
  justify-content: flex-end;
}
