.img-wrap {
  background-color: #5E5C55;
  width: 30%;
  padding-top: 30%;
  position: relative;
  left: 0;
  right: 0;
  margin: 20px auto;

  img {
    position: absolute;
    top: 4%;
    left: 4%;
    right: 0;
    width: 92%;
    height: 92%;
    //clip: rect( 10px, 50px, 50px, 10px);
    object-position: center;
  }
}