.router-wrap {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;

  .router-button {
    width: calc((100% - 20px) / 2);

    .button {
      height: 30px;

      input {
        font-weight: 600;
        font-size: 20px;
      }
    }

  }

  & a.router-link-exact-active {
    background-color: rgba(222, 200, 164, 0.2);
  }
}


.nickname {
  color: #F1E8DB;
  font-weight: 600;
  font-size: 24px;
  margin: 20px auto;
  text-align: center;
}